body {
    font-family: 'Figtree', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;

}
/*Header*/
header {
    color: Black;
    background-color: #fff;
    padding: 2rem 2%;
}
header h1 {
    margin: 0;
    color: black;

}
header p {
    margin: 0;
    color: #505c5c;
    letter-spacing: .9px;

}
/*Navigation Bar*/
nav {
    background-color: #fdbd2c;
    padding: 0rem .5rem;
    width: 100%;}

 nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
 }
 
 nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    display: block;
    color: black;
    font-weight: 700;
    padding: 5px 20px; 
    height: 35px;
    box-sizing: border-box;
 }
 nav li a.active {
    background-color:#505c5c;
    color: #fff;
 }
 nav a:hover {
    color: #fff;
 }
 /*Main*/
 main {
    padding: 2rem 2%;
    background-color: #fff;
    width: 100%;
 }
main h1 {
    color: black;
}
main h2 {
    color: black;
    margin-bottom: .2rem;
}
main h3 {
    color: black;
    margin-bottom: .2rem;
    font-weight: 600;
    font-size: 18px;
 
}

main p {
    color: black;
    margin-bottom: .3rem;
}

main ol {
    padding: 1rem 3%;
    background-color: lightpink;
    border-radius: 1rem;
    border: 1px solid #505c5c;

}
main ol li a {
    font-weight: 400;
    color: black;
   
}
main ol li a:hover {
     color: #505c5c;
   
}

main dl dt {

    color: black;
    font-weight: 600;
}
main dl dd {
    color: black;
    font-size: .9rem;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    

}
main a {
    color: black;

}

main a:hover {
    color: white;
}
/*image*/


figure.figcaption {
    text-align: center;
    font-size: medium
}

div.portfolio {
    display: flex;
    flex-wrap: wrap;
}
div.portfolio figure {
    margin: .5rem 2% 0 0;
}

div.portfolio figcaption {
    text-align: center;
    font-size: .8rem;
    color: #505c5c;
}
 
/*footer*/
footer {
    font-style: normal;
    font-size: .8rem;
    text-align: center;
    background-color: #fdbd2c;
    padding: 1rem 3%;
    color: black;
    border: 1px solid #505c5c;

    
}
footer a {
    color: black;
}